body {
    background: url("../images/concrete_seamless.png");

}
#gameTitle{
    font-size : 48px;
    font-family: 'Almendra SC';
    
}
#directions-text{
    text-align: right;
}

p{
    font-size : 22px;
    font-family: 'Archivo Black';
    line-height: 30px;
}

#theImage { 
    /* visibility: visible;  */
    display: inline;
}