body {
    background-color: black;
    background-image: url("../images/2-WordGuess.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.block {
    background-color: gray;
    padding: 30px;
    margin-bottom: 30px;
    color: black;
}

#main-text {
    position: absolute;
    top: 32%;
    left: 45%;
    width: 45%;
    height: 58%;
}

#directions-text {
    position: relative;
    top:0px;
    height: 38px;
    text-align: right;
    font-family: 'Almendra SC';
    width:100%; 
    color:whitesmoke;   
}

p {
    font-size: 22px;
    font-family: 'Stylish';
    line-height: 25px;
    text-align: left;
}